@page "/01"
<h3>01. Drag & Drop</h3>
<_01_Band Height="500" Width="500"></_01_Band>

<style>
    .component {
    border: 1px solid purple;
    padding: 1rem;
    display: block;
    cursor: move;
    position: absolute;
    }

    .band {
        border: 1px dashed black;
        margin: 1rem;
        padding: 1rem;
        display: inline-block;
    }
</style>
@code {

}
