@page "/06"
<h3>06. Snap</h3>

<_06_Band></_06_Band>
<style>
    .band {
        background-color: aliceblue;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .drag-object {
        position: absolute;
        border: 1px solid green;
    }
   
    .dragable-area {
        height: 500px;
        border: 1px dashed black;
        position: relative;
    }
    .componentbase{
        box-sizing: border-box;
    }

</style>
@code {

}
