<div class="drag-area"
     @onpointerup=OnMouseUp @onpointerup:preventDefault
     @onpointermove=OnMouseMove @onpointermove:preventDefault
     style=@("width:" + DragAreaModel.Width + "px;height:" + DragAreaModel.Height + "px;" + "left:" + DragAreaModel.Left + "px;" + "top:" + DragAreaModel.Top + "px;" ) hidden=@DragAreaModel.Hidden></div>

@code {
    [Parameter]
    public _03_DragAreaModel DragAreaModel { get; set; } = new _03_DragAreaModel();
    void OnMouseUp(PointerEventArgs e)
    {
        //드래그 영역 내에서 마우스 급하게 움직이며 클릭중인것을 놓을때 호출되는데, 비정상 케이스로 분류하고 드래그 이벤트를 종료시킨다. 
        DragAreaModel.DragEnd();
    }
    void OnMouseMove(PointerEventArgs e)
    {
        DragAreaModel.DragMove(e.ClientX, e.ClientY);
    }
}